<div class="container-fluid p-3">
  <div
    class="bg-profile_image p-3 w-100"
    [ngStyle]="{ 'background-image': 'url(' + userData.background + ')' }"
  >
    <div class="change-bg">
      <i class="bi bi-pen"></i>
    </div>
    <div
      class="user_photo"
      [ngStyle]="{ 'background-image': 'url(' + userData.photo + ')' }"
    ></div>
  </div>

  <div class="user-settings row p-3 mb-5">
    <div class="settings col-6 p-0">
      <i class="bi bi-gear"></i>
    </div>
    <div class="change-page-info col-6 d-flex justify-content-end p-0">
      <i
        class="bi bi-pen"
        (click)="isUserNameChanging = !isUserNameChanging"
      ></i>
    </div>
  </div>

  <div
    *ngIf="!isUserNameChanging"
    class="user-name col-12 d-flex justify-content-center"
  >
    {{ userData.name }}
  </div>
  <form
    *ngIf="isUserNameChanging"
    action="submit"
    #userNameForm="ngForm"
    class="changeText col-12 d-flex justify-content-center"
    (ngSubmit)="changeTextValue('USER_NAME', userNameForm.value.user_name)"
  >
    <input
      type="text"
      class="text-center"
      [value]="userData.name"
      [placeholder]="userData.name"
      id="user_name"
      name="user_name"
      ngModel
    />
  </form>
  <div class="user-at col-12 d-flex justify-content-center mt-1">
    {{ userData.nickName }}
  </div>

  <div class="following-followers col-12 p-0 d-flex mt-4 pt-2 mb-4">
    <div class="following col-6 p-0 d-flex justify-content-end pr-4 flex-wrap">
      <span
        class="following-count col-12 p-0 d-flex justify-content-end p-0 mb-1 d-flex"
      >
        {{ userData.following }}
      </span>
      <p class="following-followers-title mb-0">Following</p>
    </div>

    <div
      class="followers col-6 p-0 d-flex justify-content-start pl-4 flex-wrap"
    >
      <span class="followers-count col-12 p-0 pl-0 mb-1 d-flex">{{
        userData.followers
      }}</span>
      <p class="following-followers-title mb-0">Followers</p>
    </div>
  </div>

  <app-title></app-title>
  <app-text-block
    [isCanChange]="true"
    [changeTextValue]="changeTextValue"
    [infoText]="userData.about"
  ></app-text-block>
  <app-add-post></app-add-post>
  <div class="posts col-12 p-0">
    <app-post *ngFor="let post of userData.post" [newPost]="post"></app-post>
  </div>
</div>
