.bg-profile_image {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  border-radius: 0 0 0.7rem 0.7rem;
  position: relative;
}

.user_photo {
  border-radius: 100rem;
  position: absolute;
  z-index: 1090;
  width: 150px;
  height: 150px;
  bottom: -75px;
  left: 50%;
  transform: translate(-50%, 0);
}

.change-bg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0.8rem;
  top: 0.8rem;
  width: 35px;
  height: 35px;
  background-color: #d80000;
  color: #fff;
  border-radius: 100rem;
  cursor: pointer;
}

.change-bg:hover {
  color: #d80000;
  background-color: #fff;
}

.user-settings i:hover {
  color: #732a2a;
}

.user-name {
  color: #d80000;
}

.user-name,
input {
  font-size: 18px;
  font-weight: 500;
  height: 2rem;
  display: flex;
  align-items: center;
}

.changeName input {
  color: #7e7e82;
  border: 1px solid #eceded;
  padding-bottom: 1px;
  transition: border 0.2s;
}

.user-at {
  color: #7e7e82;
}

.following-followers {
  position: relative;
  margin-bottom: 4rem !important;
}

.following-followers::before,
.following-followers::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 200px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #eceded;
}

.following-followers:before {
  top: -0.5rem;
}

.following-followers:after {
  bottom: -1rem;
}

.following::after {
  content: "";
  position: absolute;
  right: -0.2rem;
  width: 1px;
  height: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #eceded;
}

.following-followers > p {
  color: #46474d;
}

.following-followers-title {
  color: #7e7e82;
  cursor: pointer;
}

.following-followers-title:hover {
  color: #d80000;
}
