header {
  padding-top: 0 !important;
  font-weight: 400;
  font-size: 14px;
}

header .logo-search p {
  cursor: default;
  color: #7e7e82;
}

.search-container {
  position: relative;
}

.search,
.bi-search {
  background-color: #ebebeb;
  border-radius: 0 0 0.7rem 0.7rem;
}

header .menu nav ul a:hover {
  color: #732a2a;
}

.bi-search {
  position: absolute;
  right: 0;
  padding: 0.4rem;
  cursor: default;
}
