<div class="container-fluid p-3 auth-container">
  <app-alert
    *ngIf="modal"
    [content]="alert"
    [authStatus]="authStatus"
  ></app-alert>

  <div class="auth-menu">
    <div
      class="border-container p-3 auth-container-inner d-flex flex-column m-0"
    >
      <div
        class="auth-header"
        style="background-image: url(../../../assets/images/auth-header-image.jpg);"
      >
        <img src="../../../assets/images/logo_black-white-letters.png" alt="" />
      </div>

      <div class="h-100 d-flex flex-wrap flex-column justify-content-center">
        <ul class="nav nav-tabs mb-1" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="login-tab"
              href="#login"
              data-toggle="tab"
              data-target="#login"
              type="button"
              role="tab"
              aria-controls="login"
              aria-selected="true"
            >
              Log in
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="signin-tab"
              data-toggle="tab"
              data-target="#signin"
              type="button"
              role="tab"
              aria-controls="signin"
              aria-selected="false"
            >
              Sign in
            </button>
          </li>
        </ul>
        <div class="tab-content h-80" id="myTabContent">
          <div
            class="input-group mb-0 d-flex flex-wrap tab-pane fade show active"
            id="login"
            role="tabpanel"
            aria-labelledby="login-tab"
          >
            <form class="inputs w-100" #login="ngForm" action="submit">
              <input
                type="text"
                class="form-control  w-100 mb-3"
                placeholder="Email"
                aria-label="Email"
                aria-describedby="basic-addon1"
                name="email"
                #email="ngModel"
                [ngStyle]="{
                  'box-shadow':
                    email.invalid && (email.dirty || email.touched)
                      ? '0px 0px 3px red'
                      : 'none'
                }"
                email
                ngModel
                required
              />
              <input
                type="password"
                class="form-control w-100 mb-3"
                placeholder="Password"
                aria-label="Password"
                aria-describedby="basic-addon1"
                name="password"
                #password="ngModel"
                [ngStyle]="{
                  'box-shadow':
                    password.invalid && (password.dirty || password.touched)
                      ? '0px 0px 3px red'
                      : 'none'
                }"
                minlength="5"
                maxlength="100"
                ngModel
                required
              />

              <div
                class="button-place w-100 d-flex justify-content-center align-self-end"
              >
                <button
                  type="submit"
                  class="btn btn-danger"
                  [disabled]="
                    (password.invalid &&
                      (password.dirty || password.touched)) ||
                    (email.invalid && (email.dirty || email.touched)) ||
                    password.invalid ||
                    email.invalid
                      ? true
                      : null
                  "
                >
                  Log in
                </button>
              </div>
            </form>
          </div>

          <div
            class="input-group mb-0 d-flex flex-wrap tab-pane fade"
            id="signin"
            role="tabpanel"
            aria-labelledby="signin-tab"
          >
            <form
              #signin="ngForm"
              action="submit"
              (ngSubmit)="register(signin.value)"
              class="inputs w-100"
            >
              <input
                type="text"
                class="form-control  w-100 mb-3"
                placeholder="Email"
                aria-label="Email"
                aria-describedby="basic-addon1"
                name="email"
                #email="ngModel"
                [ngStyle]="{
                  'box-shadow':
                    email.invalid && (email.dirty || email.touched)
                      ? '0px 0px 3px red'
                      : 'none'
                }"
                email
                ngModel
                required
              />
              <input
                type="name"
                class="form-control w-100 mb-3"
                placeholder="Username"
                aria-label="Username"
                aria-describedby="basic-addon1"
                name="username"
                #name="ngModel"
                [ngStyle]="{
                  'box-shadow':
                    name.invalid && (name.dirty || name.touched)
                      ? '0px 0px 3px red'
                      : 'none'
                }"
                minlength="3"
                maxlength="21"
                ngModel
                required
              />

              <input
                type="password"
                class="form-control w-100 mb-3"
                placeholder="Password"
                aria-label="Password"
                aria-describedby="basic-addon1"
                name="password"
                #password="ngModel"
                [ngStyle]="{
                  'box-shadow':
                    password.invalid && (password.dirty || password.touched)
                      ? '0px 0px 3px red'
                      : 'none'
                }"
                minlength="5"
                maxlength="100"
                ngModel
                required
              />

              <div
                class="button-place w-100 d-flex justify-content-center align-self-end"
              >
                <button
                  type="submit"
                  class="btn btn-danger"
                  [disabled]="
                    (password.invalid &&
                      (password.dirty || password.touched)) ||
                    (name.invalid && (name.dirty || name.touched)) ||
                    (email.invalid && (email.dirty || email.touched)) ||
                    password.invalid ||
                    name.invalid ||
                    email.invalid
                      ? true
                      : null
                  "
                >
                  submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
