<div class="post border-container col-12 p-3">
  <app-ui-user-header></app-ui-user-header>
  <div class="text-block mt-2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam excepturi
    doloremque rem consectetur sint repellendus culpa laudantium obcaecati saepe
    tempora placeat, quisquam reiciendis illo aperiam sunt ipsa ex ducimus vero
    harum modi adipisci? Consectetur molestiae quis illum architecto obcaecati
    possimus?
  </div>
  <img
    src="https://images.hdqwalls.com/download/mac-osx-sierra-lu-1366x768.jpg"
    alt=""
    class="mt-2"
  />
</div>
