<div class="border-container text-block col-12 p-3 d-flex">
  <div class="col-11 p-0 txt" *ngIf="!isChanging">
    {{ infoText }}
  </div>
  <ng-container *ngIf="isChanging">
    <form
      action="submit"
      #userInfoForm="ngForm"
      class="col-11 p-0"
      [ngStyle]="{ height: textHeight }"
    >
      <textarea
        type="text"
        [placeholder]="infoText"
        class="p-0"
        name="user_info"
        ngModel
        (keyup.enter)="changeInfo(userInfoForm.value.user_info)"
      ></textarea>
    </form>
  </ng-container>

  <div
    *ngIf="isCanChange"
    class="change col-1 p-0 d-flex justify-content-end"
    (click)="isChanging = !isChanging"
  >
    <i class="bi bi-pen"></i>
  </div>
</div>
