.text-block {
  font-weight: 600;
  text-align: justify;
  margin-right: 0 !important;
  border-radius: 0 0 0.8rem 0.8rem;
  border: 1px solid #eceded;
  margin-bottom: 0.5rem;
  font-weight: 300;
}

.text-block p {
  width: 80%;
}
